.App-header {
  min-height: 15vh;
  padding: 10px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #D77FA1;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
}

.Title {
  font-size: 40px;
  font-weight: 800;
}

