.cell {
  display: inline-block;
  width: 50px;
  height: 50px;
  margin-right: 10px;
  margin-bottom: 5px;
  background-color: #FFF9F9;
  cursor: pointer;
  position: relative;
}

.cell:nth-child(6n) {
  margin-right: 0;
}

.clickedCell {
  background-color: transparent;
}

.hiddenItem::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 50px;
  background: url("/public/img/ring.png") 50% 50% no-repeat;
  background-size: 45px;
  z-index: -10;
}