.btn_wrapper {
  text-align: center;
  margin-bottom: 30px;
}

.Button {
  display: inline-block;
  padding: 15px 28px;
  font-size: 20px;
  font-weight: 600;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  text-transform: uppercase;
  outline: none;
  border: none;
  background-color: #BAABDA;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.3s;
}

.Button:hover {
  background-color: #8267BE;
}

.hideStartButton {
  display: none;
}
