.FinishGame {
  position: absolute;
  width: 100%;
  height: 60vh;
  top: 0;
  left: 0;
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #D6E5FA;
  color: #781D42;
  text-align: center;
}
.ring-icon {
  display: block;
  margin: 0 auto;
}